<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Job Scrapper</title>
    <link rel="stylesheet" href="/static/style.css"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head> 
<body>
    <div class="container">
        <h1><a href="/">Job Scraper.</a></h1>
        <form action="/search">
            <div class="search">
                <input class="search-input" type="text" name="keyword", placeholder="Write Search Keyword"/>
                <button class="search-button">
                    <span class="material-symbols-outlined">search</span>
                </button>
            </div>
        </form>
    
        {% if request.args.get('no_results') == 'true' %}
            <h2 class="no-result">No Results Found</h2>
        {% endif %}
    </div>
</body>
</html>